---
import Head from '../components/head.astro'
import Footer from '../components/footer.astro'
---

<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="public/img/icons/logo.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Colegio Amapola</title>
        <link rel="stylesheet" href="/src/global-styles/global.css">

    </head>

    <body>
            <Head/>

        <section class="Actividades">
            <h1 id="title">Nuestro Centro</h1>
            
            <div>
                <h1 class="lo">- Nuestras instalaciones</h1>
            </div>

            <div class="C-E2">
                <!-- <img src="C:\Users\dylan\Pictures\a\a2.png"> -->
                <p><span>asdasdasdass</span>Bienvenidos a la parte de nuestras instalaciones, a estas áreas los chicos de primaria hasta secundaria tienen acceso, estas areas que están activas en el horario escolar, Podrán ver el área de: </p>
            </div>
            
            <div class="C-E3">
                <ul class="ulo">
                    <li>Cancha</li>
                    <li>Centro de Informática</li>
                    <li>Amplias aulas</li>
                    <li>Laboratorio de Ciencias</li>
                    <li>Área de Juegos</li>
                    <li>Cámaras de Seguridad</li>
                </ul>
                <!-- <img src="/public/img/actividades-img/a2.webp"> -->
            </div>

<!-- 
            <div>
                <h1 class="lo">clases extracurriculares</h1>
            </div>

            <div class="C-E">
                <img src="/public/img/actividades-img/a1.webp"> 
                <div>
                    <p>Bienvenidos a la sección de actividades, en estas imagenes van a visualizar diferentes contenidos del colegio amapola, Como podrán ver, estas clases mencionadas se dan en los cursos de primaria. </p>
                    <ul>
                        <li>Ballet</li>
                        <li>Musica</li>
                        <li>robótica</li>
                        <li>programación</li>
                        <li>taekwondo</li>
                    </ul>
                </div>
            </div>

            <div class="C-E1">
                <p>De este lado como podrán ver, estas son las clases que se les da a los estudiantes de secundaria.</p>
                <ul class="uli">
                    <li>Matemática Financiera</li>
                    <li>Clases de música</li>
                    <li>Programación Web</li>
                    <li>Taller de Química</li>
                    <li>Teatro y Actuación</li>
                    <li>Oratoria y Comunicación</li>
                    <li>Pintura y Dibujo</li>
                    <li>Marketing Digital</li>
                    <li>English Conversation Program</li>
                </ul>
                <img src="/public/img/actividades-img/a3.webp"> -->
            </div>
         
            

            

        </section>

        <Footer/>

    </body>
  
</html>

<style>

    #title{
        font-size: 45px;
        text-align: center;
        margin-top: 65px;
        margin-right: 15px;
    }

    .lo{
        margin-top: 45px;
        padding-left: 145px;
        font-size: 35px;
    }

    .C-E2{
        width: 50em;
        padding: 15px 65px;
        font-size: 25px;
        text-align: right;
    }
    span{
        color: white;
    }
    .ulo{
        padding-top: 45px;
        padding-bottom: 150px;
        padding-left: 10rem;
        font-size: 25px;
    }
        
</style>
      