---
import Head from '../components/head.astro'
import Footer from '../components/footer.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/public/img/icons/logo.png"/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Colegio Amapola</title>
		<link rel="stylesheet" href="/src/global-styles/global.css">
	</head>
	<body>
		
		<Head/>
		
		<h1>Formulario de Admisión - Colegio Amapola</h1>
    <form action="/submit-form" method="GET">
        <fieldset id="primer">
            <legend>Información del Estudiante</legend>

            <div class="input">
                <label for="nombre">Nombre Completo:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>

            <div class="input">
                
                <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>
            </div>

            <!-- <div class="input">
                <label for="lugar_nacimiento">Lugar de Nacim:</label>
                <input type="text" id="lugar_nacimiento" name="lugar_nacimiento">
            </div> -->

            <div class="input">
                <label for="nacionalidad">Nacionalidad:</label>
                <input type="text" id="nacionalidad" name="nacionalidad">
            </div>

            <div class="input">
                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" name="direccion" required>
            </div>

            <div class="input">
                <label for="telefono">Teléfono:</label>
                <input type="tel" id="telefono" name="telefono">
            </div>
<!-- 
            <div class="input">
                <label for="email">Correo Electrónico:</label>
                <input type="email" id="email" name="email" required>    
            </div> -->

            <div class="input">
			    <label for="colegio_actual">Colegio anterior:</label>
                <input type="text" id="colegio_actual" name="colegio_actual" required>
            </div>

        </fieldset>
        <fieldset>
            <legend>Información Académica</legend>
            <label for="nivel_academico">Nivel Académico al que Aplica:</label><br>
            <select id="nivel_academico" name="nivel_academico" required>
                <option value="">Seleccione...</option>
                <option value="preescolar">Preescolar</option>
                <option value="primaria">Primaria</option>
                <option value="secundaria">Secundaria</option>
                <option value="preparatoria">Preparatoria</option>
            </select><br>
        </fieldset>

        <button id="btn-form">Enviar</button>
    </form>
	
	<b>Favor llenar el siguiente formulario.</b>
    <ul>
		El día de la evaluación de su hijo/a debe traer en físico los siguientes documentos:
		<li>– Acta de nacimiento para fines escolares.</li>
		<li>– 2 fotografías 2 x 2.</li>
		<li>– Copia del récord de notas de preescolar o del grado anterior.</li>
		<li>– Certificación médica.</li>
		<li>– Carta de saldo o balance al día del colegio actual.</li>
		<li>– Carta de buena conducta del colegio actual.</li>
		<li>– Copia de cédula de ambos padres.</li>
	</ul>

	<Footer/>

	</body>
</html>

<style>

    form{
        padding:55px;
    }

    #primer{
        padding: 25px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    legend{
        font-size: 35px;
        font-weight: bold;
    }

    .input{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    label{
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }

    input{
        border-radius: 10px;
        width: 300px;
        font-size: 20px;
        padding: 5px 10px
    }


    b {
	    font-size: 25px;

    }
</style>


