---
import Head from '../components/head.astro'
import Footer from '../components/footer.astro'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="public/img/icons/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colegio Amapola</title>
    <link rel="stylesheet" href="/src/global-styles/global.css">
</head>
<body>
    <Head/>


    
    <section class="contact">

        <div class="redes">

            <div class="title">
                <h1>Redes sociales</h1>
                <p>
                    Pueden buescar mas informacion en nuestras redes sociales, donde subimos contenido referente a actividades, festividades y de mas:
                </p>
            </div>

            <div class="flex">
                <div class="facebook">
                    <a href="https://web.facebook.com/colegioamapola/about_contact_and_basic_info?locale=es_LA" target="_blank"><img src="/public/img/contact-img/facebook.webp" alt="" ></a>
                    <p>Facebook:</p>
                    <a href="https://web.facebook.com/colegioamapola/about_contact_and_basic_info?locale=es_LA" target="_blank">Colegio Amapola</a>
                </div>
    
                <div class="insta">
                    
                    <a href="https://www.instagram.com/colegioamapola/?hl=es" target="_blank"><img src="/public/img/contact-img/instagram.webp" alt=""></a>
                    <p>Instagram:</p>
                    <a href="https://www.instagram.com/colegioamapola/?hl=es" target="_blank">@colegioamapola</a>
    
                </div>

                <div class="whats">

                    <img src="/public/img/icons/whatsapp.png" alt="">
                    <p>Whatsapp:</p>
                    <span>849-408-7985</span>
    
                </div>
                
                <div class="email">
                    
                    <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSGLPkQWRpdlMJwWzqBxvHfmdSXXldlGnNJQsjDvhxSQfxPQbTqGghQDMRSkNPPgMWFxdtTq" target="_blank"></a><img src="/public/img/icons/gmail.png" alt=""></a>
                    <p>Correo electornico:</p>
                    <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSGLPkQWRpdlMJwWzqBxvHfmdSXXldlGnNJQsjDvhxSQfxPQbTqGghQDMRSkNPPgMWFxdtTq" target="_blank">Info@colegioamapola.com</a>
                </div>
            </div>

        </div>


    </section>

    <div class="relleno">
        <article1 class="relleno1">
            <h1>titulo</h1>
            <br>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut quod nihil natus, praesentium, delectus fugiat commodi rerum magni neque, animi asperiores nemo. Expedita, iure laborum aut libero laudantium rerum blanditiis.</p>
        </article1>
        <article2 class="relleno1">
            <h1>titulo</h1>
            <br>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut quod nihil natus, praesentium, delectus fugiat commodi rerum magni neque, animi asperiores nemo. Expedita, iure laborum aut libero laudantium rerum blanditiis.</p>
        </article2>
        <article3 class="relleno1">
            <h1>titulo</h1>
            <br>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut quod nihil natus, praesentium, delectus fugiat commodi rerum magni neque, animi asperiores nemo. Expedita, iure laborum aut libero laudantium rerum blanditiis.</p>
        </article3>
    </div>



    <Footer/>

</body>
</html>

<style>

    .contact{
        padding: 55px;
        background-color: rgb(209, 209, 135);
    }

    .redes{
        background-color: white;
        padding: 45px;
        border-radius: 5px;
    }

    .title{
        margin-bottom: 145px;
        text-align: center;
        font-size: 45px;
    }

    .title h1{
        margin-bottom: 15px;
        font-style: italic;
        color: rgb(59, 59, 59);
    }

    .title p{
        font-size: 25px;
        font-weight: 100px;
    }

    .flex{
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        overflow: hidden;
        
        padding: 0 35px;
    }

    .flex
    .facebook p,
    .insta p,
    .whats p,
    .email p{
        font-weight: bold;
        letter-spacing: 5px;
        font-size: 20px;
        font-style: italic;
    }


    .facebook img{
        width: 70px;
    }

    .insta img{
        width: 40px;
    }

    .whats img{
        width: 40px;
    }

    .email img{
        width: 40px;
    }
    
    span, 
    .facebook a, 
    .insta a, 
    .email a{
        text-decoration: underline;
        font-size: 17px;
        color: black;
        padding: 0 2px;
        cursor: pointer;
    }

    .relleno{
        padding: 150px 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .relleno1{
        max-width: 200px;
    }

    .relleno1 h1, .relleno1 p{
        text-align: center;
    }

</style>